/exercicios/JavaApplication154/nbproject/private/
/exercicios/JavaApplication154/build/
/exercicios/exercicio2/nbproject/private/
/exercicios/exercicio2/build/
/exercicios/exercicio3/nbproject/private/
/exercicios/exercicio4/nbproject/private/
/exercicios/exercicio4/build/
/exercicios/JavaApplication158/nbproject/private/
/exercicios/exercicio5/nbproject/private/
/exercicios/exercicio6/nbproject/private/
/exercicios/exercicio7/nbproject/private/
/exercicios/exer8/nbproject/private/
/exercicios/JavaApplication163/nbproject/private/
/exercicios/exer9/nbproject/private/
/exercicios/exer10/nbproject/private/